main {
    margin: 30px auto;
    margin-top: 110px;
    background-color: rgb(70, 70, 41);
    color: rgb(227, 223, 211);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    width: 70%; 
    min-width: 400px;  
    max-width: 450px; 
}

.members-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.manageAll span{
background-color: green;
color: blanchedalmond;
cursor: pointer;
padding: 8px;
border-radius: 6px;
margin-top: 15px;
font-size: 1.1rem;
margin-left: 5px;
}

.deduction-group{
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
    width: 60% ;
    min-width: 300px;
    max-width: 400px;
}


.deduction-group span{
    background-color: green;
    cursor: pointer;
    padding: 4px;
    font-size: 1rem;
    border-radius: 8px;
    margin-left: 10px;
    text-align: center;
    color: white;
    height: 45px;
    width: 90px;
}
.savingsFromDeduction{
    display: none;
}
.hide{
    display: none;
}

.all-loan{
    width: 70%; 
    min-width: 400px;  
    max-width: 450px; 
    margin: 50px auto;
}
.loan-group{
    display: flex;
    justify-content: space-between;
}
.loan-group span{
    background-color: green;
    color: white;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}