.monthlySavings {
    background-color: #ff6a59e6;  /* Keeps the background color */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.memberSaving {
    color: rgb(234, 234, 244);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2rem;
    margin: 8px;
}

.memberSaving span {
    margin-right: 15px;
}

.confirm {
    background-color: green;
    padding: 4px;
    border-radius: 4px;
    color: white;
    text-align: center;
}

.formatedSaving {
    background: rgb(70, 70, 41);
    padding: 5px;
    width: 95px;
    margin-left: 15px;
    border-radius: 4px;
    font-size: 1.1rem;
    color: white;
}

.confirm:hover {
    cursor: pointer;
}

.savingsButtons {
    display: flex;
    justify-content: space-between;
}

.cancelSavings {
    background-color: red;
    color: white;
    padding: 4px;
    border-radius: 4px;
}

.confirmSavings {
    background-color: green;
    color: white;
    padding: 4px;
    border-radius: 4px;
}

.savingsdialog {
    position: fixed;
    border-radius: 7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 250px;
    max-width: 300px;
    padding: 15px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.savingsdialog p {
    text-align: center;
}
